html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

.line-divider {
  margin: 1.5vw;
}

.line-divider-big {
  margin: 3vw;
}

.scrollbar {
  height: 25vh;
  width: 25vw;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 1vw;
}

.store-item {
  text-align: left;
}

.store-name {
  min-height: 450px;
  text-align: left;
  margin-left: 1.5vw;
}

#listview {
  text-align: left;
  width: 30vw;
}

input {
  font-size: 1.5vw;
}

h1 {
  color: #525454;
  font-size: 2.5vw;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  color: #525454;
  font-size: 1.5vw;
  margin: 0 0 1vw 0;
  text-align: left
}

#hide-listings,
#show-listings,
#search, #reset {
  width: 48%;
  font-size: 1vw;
}

.store-name:hover {
  background-color: yellow;
}

#map {
  border: 1px solid #999;
  border-radius: 3px;
  top:2vh;
  bottom:2vh;
  height: 100%;
  left: 35vw;
  position: absolute;
  right: 5vw;
}

.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 2vw 2vw 2vw 2vw;
  text-align: left;
  width: 30vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 5vw;
  margin-left: 2vw;
}


.text {
  font-size: 1vw;
}

#filter, #start, #end {
  width: 20vw;
  font-size: 1vw;
}

#mode {
  font-size: 1vw;
}